.reward {
    width: 390px;
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;
    font-family: 'SOYOMapleRegular';
    overflow-y: auto; /* 내용이 넘칠 때 스크롤바 활성화 */
    position: relative;
    padding-bottom: 60px; /* 하단바와의 여백을 위한 패딩 */
}

.DepositButton {
    width: 358px;
    height: 34px;
    border-radius: 12px;
    border: 1px solid var(--primary, #214FC7);
    background-color: white;
    color: #214FC7;
    text-align: center;
    padding-top: 7px;
    margin: 16px;
    bottom: 16px;
    font-family: SOYOMapleRegular;

}

@font-face {
    font-family: 'SOYOMapleRegular';
    font-weight: normal;
    src: url("./../../fonts/SOYOMapleRegular.ttf") format("truetype");
}