.RewardSend {
    width: 390px;
    height: 844px;
    margin: 0 auto;
    position: relative;
    font-family: 'SOYOMapleRegular';
}

.nextbutton {
    position: fixed;
    width: 358px;
    height: 34px;
    border-radius: 12px;
    background-color: #A5A5A5;
    color: white;
    text-align: center;
    padding-top: 13px;
    margin: 16px;
    bottom: 16px;
}

.nextbutton.blue {
    background-color: rgb(33, 79, 199);
}