.card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 15px;
  font-family: SOYOMapleRegular;
}

@font-face {
  font-family: 'SOYOMapleRegular';
  font-weight: normal;
  src: url("./../../fonts/SOYOMapleRegular.ttf") format("truetype");
}